.aboutMain {
    display: flex;
    width: 80%;
    height: 100vh;
    margin: auto;
}
.aboutLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 45%;
}
.aboutLeft h1 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 66.129px;
    line-height: 82px;
    color: #2E401C;
}
.aboutLeft h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 25.7143px;
    line-height: 31px;
    color: #2E401C;
}
.aboutRight {
    position: relative;
    display: flex;
    align-items: center;
    width: 55%;
}
.aboutImg1 {
    position: absolute;
    width: 343.12px;
    height: 493.17px;
    background: url(../components/img/aboutImg1.svg);
    border-radius: 20px;
    left: 240px;
    margin-top:  140px;
    z-index: 1;
}
.aboutImg2 {
    position: absolute;
    width: 343.12px;
    height: 493.17px;
    left: 70px;
    background: url(../components/img/aboutImg2.svg);
    border-radius: 20px;
    transform: rotate(-13.12deg);
}
.arnament {
    position: absolute;
    width: 75px;
    height: 100vh;
    right: 3%;  
    background: url(../components/img/arnament.svg) repeat-y;
  }