.contactsMain {
    width: 80%;
    height: 100vh;
    margin: 80px auto;
}
.contactsContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 614px;
    background: #337347;
}
.leftColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}
.contactHeader p{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #FFFFFF;
}
.callUs {
    display: flex;
    flex-direction: column;
    /*ustify-content: space-around;*/
    align-items: center;
    box-sizing: border-box;
    width: 265px;
    height: 265px;
    left: 310px;
    top: 367px;
    border: 3px dashed #FFFFFF;   
    border-radius: 50%;     
}
.callUs h3 {
    padding-top: 54px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF; 
}
.callUs h1{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 30px;
    color: #FFFFFF;
}
.contactIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
}
.contactLineItems {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    width: 170px;
}
.contactLineItems h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 10px;
}
.mailIcon {
    width: 20px;
    height: 18px;
    background: url(../components/img/mailIcon.svg) no-repeat;
}
.addressIcon {
    width: 18px;
    height: 22px;
    background: url(../components/img/addressIcon.svg) no-repeat;
}
.contactMap {
    margin: auto;
    width: 420px;
    height: 472px;
    background: url(../components/img/Bishkek.svg) no-repeat;
}